<div ng-include="'/partials/admin/nav.html'"></div>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>User</th>
					<th>Created data</th>
					<th>Last visit</th>
					<th>Last action</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in users">
					<td>{{user.name}} ({{user.email}})</td>
					<td>{{user.createdAt}}</td>
					<td>{{user.lastActionAt}}</td>
					<td>{{user.lastVisitAt}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>